/*Desktop*/
@media only screen and (min-width: 800px){
    nav{/*Make size adjustments for mobile*/
        width: 100%;
        height: 100px;
    }

    footer{
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
        min-height: 250px;
    }
    
    /*STYLING FOR CLASSES*/    
    .btn img{
        height: 55px;
        width: auto;
    
        float: left;
        margin-right: 35px;
        margin-left: 35px;
        margin-top: 13px;
    }
    
    .btn_main img{
        height: 90px;
        width: auto;
    
        float: left;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 5px;
    }
    
    .btn_social img{
        height: 35px;
        width: auto;
        padding-left: 10px;
    
        float: right;
    }
     
    .float_img_clear{
        clear: left;
    }

    .new_exp_nav_btn{
        width: 23%;
        height: 100px;

        padding-top: 25px;
    
        float:left;
    
        text-align: center;
    }

    .proj-group{
        width: 17%;
        height: auto;
        float: left;
        padding-right: 3%;
    }

    .projects img{
        width: 35%;
        padding-top: 1em;
    }

    .proj-image{
        width: 150px;
        padding-right: 15px;
        float: left;
    }

    .about-image{
        padding-right: 15px;
        float: left;
    }

    .project-links{
        float: right;
    }

    .project-click{
        width: 50px;
    }
    
    /*STYLING FOR IDS*/
    #content img{
        border: 1px solid;
        border-color: #57A0B3;
    }
    
    #desk_btn_bar{
        width: 650px;
        height: 100%;
        
        margin-left: auto;
        margin-right: auto;
    }

    #mob_btn_bar{
        display: none;
    }

    #mob_btn_block{
        display: none;
    }

    #youtube img{
        width: 35%;
        padding-top: 1em;
    }
    
    #footer_copy{
        padding-top: 115px;
        width: 33%;
        float: left;
        text-align: left;
    }
    
    #footer_logo{
        padding-top: 65px;
        width: 33%;
        float: left;
        text-align: center;
    }
    
    #footer_social{
        padding-top: 115px;
        width: 33%;
        float: left;
        text-align: right;
    }
    
    #footer_logo_img{
        height: 120px;
        width: auto;
        padding-right: 10%;
    }
}